.container{
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  height: inherit;
}

.content{
  position: absolute;
  left: 1.4%;
  top: 1.4%;
  width: 98%;
  height: 90%;
}

.graph{
  position: absolute;
  left: 2%;
  top: 0;
  width: 98%;
  height: 90%;
}


.container div[class^="week-"] {
  color:red;
}

.container div[class^="day-"] {
  color:blue;
}

.weekday{
  float: left;
}

.week{
  width: 1.8%;
  height: 100%;
  float: left;
  margin-left: 0.05%;
}

.day{
  float: left;
  width: 73%;
  height: 9%;
  margin-top: 44%;
  position: relative;
  border-radius: 31%;
  background: #ffffff5c;
  margin-left: 15%;
}

.loading{
  background: #ffffff5c;
}

.error{
  background: #fe8989c9;
}