# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/commit-history-graph-react/node_modules
src/commit-history-graph-react/.pnp
src/commit-history-graph-react/.pnp.js

# testing
src/commit-history-graph-react/coverage

# next.js
src/commit-history-graph-react/.next/
src/commit-history-graph-react/out/

# production
src/commit-history-graph-react/build

# misc
.DS_Store
*.pem

# debug
src/commit-history-graph-react/npm-debug.log*
src/commit-history-graph-react/yarn-debug.log*
src/commit-history-graph-react/yarn-error.log*
src/commit-history-graph-react/.pnpm-debug.log*

# local env files
src/commit-history-graph-react/.env*.local

# typescript
src/commit-history-graph-react/*.tsbuildinfo
src/commit-history-graph-react/next-env.d.ts

src/commit-history-graph-react/local.settings.js
src/commit-history-graph-react/package-lock.json
src/commit-history-graph-react/local.settings.ts
src/commit-history-graph-react/local.settings.sample.js
src/commit-history-graph-react/local.settings.json
